@charset "UTF-8";
/* CSS Document */
html
{
    height: 100%;
}
body{
	margin: 0px;
	height: 100%;
	background-color: #F7F7F7;
}

/*TYPOGRAPHY*/

.stat{
	font-family: Roboto;
	font-weight: 300;
	font-size: 56px;
	line-height: 56px;
	color: #222222;
}
.h1{
	font-family: Roboto;
	font-weight: 700;
	font-size: 26px;
	line-height: 30px;
	color: #222222;
}
.h2{
	font-family: Roboto;
	font-weight: 700;
	font-size: 19px;
	line-height: 30px;
	color: #222222;
}
.h3{
	font-family: Roboto;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: #222222;
}
.e1Bold{
	font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	color: #222222;
}
.e1Medium{
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #222222;
}
.e1Regular{
	font-family: Roboto;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #222222;
}
.e2Regular{
	font-family: Roboto;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #222222;
}
.e3Bold{
	font-family: Roboto;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	color: #222222;
}
.e3Regular{
	font-family: Roboto;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	color: #222222;
}
#typography{
	margin: 50px;
	width: 500px;
}

/*BUTTONS*/

.regularBtn{
	height: 36px;
	width: 170px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: linear-gradient(#13A4F8, #0169F3);
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}
.regularBtn:hover{
	opacity: .9;
}
.regularBtn[disabled]:hover{
	opacity: .5;
}
.regularBtn:disabled{
	opacity: .5;
	cursor:default;
}
.regularBtn:active{
	opacity: .8;
	cursor: pointer;
}
.ghostBtn{
	height: 36px;
	width: 170px;
	border: none;
	border-radius: 4px;
	color: #222222;
	background-image: linear-gradient(#FFFFFF, #F7F7F7);
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	cursor: pointer;
}
.ghostBtn:hover{
	background: #ffffff;
	color: #026AF3;
}
.ghostBtn[disabled]:hover{
	opacity: .5;
	color: #222222;
}
.ghostBtn:disabled{
	opacity: .5;
	cursor:default;
}
.ghostBtn:active{
	opacity: .8;
	cursor: pointer;
}
.largeBtn{
	height: 56px;
	width: 430px;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: linear-gradient(#13A4F8, #0169F3);
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	font-family: Roboto;
	font-weight: 500;
	font-size: 19px;
	cursor: pointer;
}
.largeBtn:hover{
	opacity: .9;
}
.largeBtn[disabled]:hover{
	opacity: .5;
}
.largeBtn:disabled{
	opacity: .5;
	cursor:default;
}
.largeBtn:active{
	opacity: .8;
	cursor: pointer;
}
#buttons{
	margin: 50px;
	width: 500px;
}

/**INPUTS**/

.regularInput{
  	padding: 12px 10px;
  	border: 1px solid #888888;
  	border-radius: 4px;
	color: #222222;
	font-family: Roboto;
	font-weight: 500;
	font-size: 14px;
	background: none;
}
.regularInput:hover {
  	background-color: #ffffff;
}
.regularInput:focus {
  	background-color: #ffffff;
	border: 1px solid #026AF3;
}
.error{
	border: 2px solid #BC371E;
}
.error:focus{
	border: 2px solid #BC371E;
}

.errorFlag{
	background: #BC371E;
	padding: 12px;
	padding-left: 6px;
	padding-right: 16px;
	color: #ffffff;
	font-family: Roboto;
	font-weight: 700;
	font-size: 12px;
  	border-radius: 4px;
	width: auto;
	margin-left: 16px;
	display: inline;
	filter: drop-shadow(0px 4px 7px rgba(0,0,0,0.3));
	position: relative;
}
.errorFlag:after {
	content: "";
	position: absolute;
	top: 0px;
	left: -18px;
	 -webkit-clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
    background:#BC371E;
	width:20px;
	height:100%;
	max-height: 40px;
  	border-radius: 4px;
	
}
#inputs{
	margin: 50px;
	width: 500px;
}

/*COLORS*/

#black{
	background: #000000;
}
#onyx{
	background: #222222;
}
#darkGray{
	background: #888888;
}
#gray{
	background: #CCCCCC;
}
#lightGray{
	background: #DDDDDD;
}
#extraLightGray{
	background: #EEEEEE;
}
#offWhite{
	background: #F7F7F7;
}
#white{
	background: #FFFFFF;
}
#red2F{
	background: #BC371E;
}
#primary1F{
	background: #75C4FF;
}
#primary2F{
	background: #026AF3;
}
#primary3F{
	background: #002E6B;
}
#primary1G{
	background-image: linear-gradient(#AADFFF, #74C3FF);
}
#primary2G{
	background-image: linear-gradient(#13A4F8, #0169F3);
}
#primary3G{
	background-image: linear-gradient(#00619D, #002562);
}
#gray1G{
	background-image: linear-gradient(#FFFFFF, #F7F7F7);
}

#colors{
	margin: 50px;
	width: 500px;;
}
.widgetBackground{
	background: #FFFFFF;
	border-radius: 4px;
	box-shadow: 0px 1px 2px rgba(0,0,0,.2);
	padding: 20px;
	width: auto;
}
.margin20{
	margin: 20px;
}
.header{
	margin-left: 50px;
	margin-bottom:-40px;	
}
.subheader{
	padding-top: 40px;
}
.colorBox{
	width: 152px;
	height: 38px;
	line-height: 16px;
	padding-top: 40px;
	font-family: Roboto;
	font-size: 12px;
	padding-left: 10px;
}
.colorBorder{
	outline: 1px solid #CCCCCC;
	outline-offset: -1px;
}
.colorWhite{
	color: #FFFFFF;
}
table{
	text-align: left;
}
th{
	padding-top: 0px;
	padding-bottom: 10px;
	font-family: Roboto;
	font-weight: 700;
	font-size: 12px;
	color: #888888;
}

.colorTable td{
	width: 100%;
	padding-bottom: 0px;
	padding-top: 0px;
}
body.disableOutline *:focus{
        outline: none !important;
}