@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	width: 1440px;
	background: #f7f7f7;
}
.triageMargin {
	margin: 70px;
	margin-top: 50px;
	background: #ffffff;
}
p {
	margin: 0px;
	font-family: Roboto-Light;
	font-weight: 100;
}
.pageNumbers{
	font-size: 20px;
	margin-top: 20px;
}
button {
	cursor: pointer;
	outline: none;
}
#topNav {
	height: 100px;
	width: 1440px;
	background: #ffffff;
	box-shadow: 0px 3px 5px rgba(0,0,0,.1);
	position: fixed;
	top: 0px;
}
#topBar {
	height: 36px;
	width: 1440px;
	background: #000000;
	position: fixed;
	display: inline;
	top: 0px;
	background-image: url(images/logo.svg);
	background-repeat: no-repeat;
}
#menuBtn {
	height: 40px;
	width: 40px;
	position: fixed;
	top: 47px;
	left: 11px;
	background: none;
	border: none;
}
H1 {
	font-size: 30px;
	font-family: Roboto Condensed;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 2px;
	font-weight: 500;
}
.lowerCase{
	text-transform: none;
}
H2 {
	font-size: 30px;
	font-family: Roboto Condensed;
	text-transform: uppercase;
	margin-top: 2px;
	font-weight: 500;
}
H3 {
	font-size: 20px;
	font-family: Roboto-Light;
	line-height: 28px;
}
H4 {
	font-size: 24px;
	font-family: Roboto-Light;
	font-weight: 100;
	margin-top: -10px;
}
H5 {
	font-size: 20px;
	font-family: Roboto;
	line-height: 28px;
	margin-bottom: 5px;
}
.triageCopy {
	font-weight: 100;
	max-width: 550px;
	display: block;
	margin-top: 10px;
	margin-bottom: 50px;
}
#headerBlock {
	width: 1360px;
	height: 40px;
	top: 47px;
	margin-left: 65px;
	position: fixed;
}
#dotMenuBtn {
	height: 40px;
	width: 40px;
	position: fixed;
	margin-left: 10px;
	background: none;
	border: none;
}
#reportBtn {
	float: right;
	height: 40px;
	width: auto;
	display: inline;
	background: none;
	border: 1px solid #999999;
	padding-left: 15px;
	padding-right: 15px;
}
#filtersPanel {
	position: fixed;
	width: 320px;
	height: 100%;
	float: left;
	z-index: -1;
	border-right: 1px solid #999999;
	transition: .5s;
}
.expandedPanel {
	margin-left: 0px;
}
.collapsedPanel {
	margin-left: -280px;
}
#hideFiltersBtn {
	position: fixed;
	top: 100px;
	height: 40px;
	text-align: left;
	border: none;
	width: 320px;
	padding-left: 19px;
	border-bottom: 1px solid #999999;
	background: url(images/double_chevron.svg);
	background-repeat: no-repeat;
	background-position: right;
	background-color: #f7f7f7;
}
#showFiltersBtn {
	position: fixed;
	top: 100px;
	height: 40px;
	width: 320px;
	text-align: left;
	padding-left: 55px;
	background: none;
	border: none;
	z-index: -2;
}
#showFiltersBtnSmall {
	position: fixed;
	top: 100px;
	height: 40px;
	width: 320px;
}
#filters {
	position: fixed;
	top: 140px;
	display: block;
	transition: .5s;
}
.filterTall1 {
	height: 570px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.filterTall2 {
	height: 200px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.filterTall3 {
	height: 285px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.filterTall4 {
	height: 165px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.filterTall5 {
	height: 330px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.filterShort {
	height: 50px;
	width: 320px;
	border-bottom: 1px solid #999999;
	transition: .5s;
}
.expandBtn {
	height: 36px;
	width: 36px;
	float: right;
	margin: 6px;
	margin-right: 9px;
	margin-top: -4px;
	background: none;
	border: none;
	font-size: 24px;
}
#navPanel {
	height: 100%;
	width: 321px;
	background: #ffffff;
	position: fixed;
	top: 36px;
	transition: .5s;
	box-shadow: 5px 0px 5px rgba(0,0,0,.2);
}
.expandedNav {
	margin-left: 0px;
}
.collapsedNav {
	margin-left: -330px;
}
#closeMenuBtn {
	height: 40px;
	width: 40px;
	margin: 10px;
	margin-bottom: 100px;
	background: none;
	border: none;
}
#pdfGuidesBtn{
	float: right;
	height: 40px;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	transition: .5s;
	margin-right: 10px;
	background: none;
	border: 1px solid #999999;
}
.dashboardBtn{
	height: 50px;
	width: 321px;
	display: block;
	padding-left: 15px;
	padding-right: 15px;
	transition: .75s;
	text-align: left;
	background: #ffffff;
	font-size: 14px;
	border: none;
}
.firstDashboard{
	margin-top: 10px;
	border-top: 1px solid #000000;
}
.boldDashboards{
	font-weight: 700;
	border-bottom: 1px solid #000000;
	background: url(images/right_chevron.svg);
	background-position: right;
	background-repeat: no-repeat;
}
.createCustom{
	font-weight: 700;
}
#menuDropdown{
	height: auto;
	width: auto;
	box-shadow: 0px 7px 7px rgba(0,0,0,.2);
	position: fixed;
	top: 95px;
	float: left;
	left: 310px;
	display: none;
	background: #ffffff;
	border: 1px solid #000000;
}
#loginModal{
	width: 500px;;
	box-shadow: 0px 7px 7px rgba(0,0,0,.2);
	margin: auto;
	align-content: center;
	text-align: center;
	margin-top: 10%;
	background: #ffffff;
	border: 1px solid #000000;
	padding-top: 40px;
}
#triageTable{
	border: 1px solid #000000;
	padding: 0px;
	border-collapse: collapse;
	font-family: roboto;
}
th{
	background:#E6E7E8;
	border-bottom: 1px solid #000000;
	font-size: 12px;
	font-family: Roboto;
	padding: 10px;
}
td{
	margin: 0px;
	border-bottom: 1px solid #999999;
	min-width: 60px;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
}
.rightBorder{
	border-right: 1px solid #000000;
}
.leftColumn{
	text-align: left;
	font-family: Roboto-Bold;
	font-size: 13px;
	padding: 0px;
}
label {
	display: inline-block;
	float: left;
	clear: left;
	font-family: Roboto-Bold;
	margin-top: 24px;
	margin-bottom: 5px;
	font-size: 11px;
	color: rgba(0,0,0,.5);
	text-transform: uppercase;
	margin-left: 90px;
	width: 320px;
	text-align: left;
}
input {
	display: block;
	width: 315px;
	height: 35px;
	border: none;
	font-size: 16px;
	padding-left: 5px;
	color: #000000;
	background: rgba(0,0,0,.1);
	margin: auto;
}
#logInBtn {
	display: block;
	width: 317px;
	margin: auto;
	height: 40px;
	margin-bottom: 80px;
	margin-top: 35px;
	font-family: Roboto-Bold;
	font-size: 14px;
	color: #000000;
}


#overlay{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: fixed;
	transition: 1s;
	opacity: 1;
}
#welcomeModal{
	width: 700px;
	height: 750px;
	box-shadow: 0px 7px 7px rgba(0,0,0,.2);
	margin: auto;
	align-content: center;
	text-align: center;
	margin-top: 5%;
	background: #ffffff;
	border: 1px solid #000000;
	padding-top: 60px;
	transition: 2s;
	transition-delay: .5s;
	opacity: 0;
}
#closeBtn {
	float: right;
	width: 36px;
	height: 36px;
	padding: 0px;
	background: none;
	border: none;
	margin-top: -50px;
	margin-right: 10px;
}
#getStartedBtn {
	width: 300px;
	height: 40px;
	display: block;
	margin: auto;
	font-size: 14px;
	margin-top: 36px;
	margin-bottom: 540px;
}
.pageBtn {
	height: 100px;
	width: 60px;
	padding: 5px;
	background: none;
	border: none;
	transform: scale(2.5);
}
.leftPageBtn{
	float: left;
	font-size: 60px;
}
.righPageBtn{
	float: right;
	font-size: 60px;
}
.pageButtons{
	margin: auto;
	font-size: 60px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 240px;
}
#welcome1{
	display: block;
}
#welcome2{
	display: none;
}
#welcome3{
	display: none;
}
@font-face {
	font-family: 'eagle-icons';
	src: url('./font/eagle-icons.eot?98614823');
	src: url('./font/eagle-icons.eot?98614823#iefix') format('embedded-opentype'),  url('./font/eagle-icons.woff?98614823') format('woff'),  url('./font/eagle-icons.ttf?98614823') format('truetype'),  url('./font/eagle-icons.svg?98614823#eagle-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
.demo-icon {
	font-family: "eagle-icons";
	font-style: normal;
	font-weight: normal;
	speak: none;
	font-size: 24px;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.triageBtn{
	background: none;
	width: 100%;
	height: 40px;;
	text-align: left;
	border: none;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 700;
	cursor: pointer;
}
.triageBtn:hover{
	background: #eeeeee;
}
.checkBoxLabel{
	margin-left: 120px;
	margin-top: 30px;
	margin-bottom: -24px;
}
.checkBoxContainer {
	margin-bottom: 12px;
	margin-top: 80px;
	cursor: pointer;
	border-radius: 0px, 0px, 0px, 0px;
	color: rgba(0,0,0,.5);
	font-size: 12px;
	font-weight: 500;
}
.checkBoxContainer input {
	cursor: pointer;
}
#menuTop{
	border-bottom: 1px solid #000000;
	height: 64px;
	display: block;
}
#menuSearch{
	float: left;
	
    border-radius: 25px;
	position: absolute;
	top: 0px;
	display: inline;
	width: 227px;
	padding-left: 18px;
	margin-top: 11px;
	margin-left: 0px;
}
.dashbLabel{
	font-family: Roboto;
	font-size: 11px;
	display: block;
	margin-top: 14px;
	margin-left: 18px;
}
.dashTitle{
	font-family: Roboto;
	font-size: 18px;
	color: #000000;
	margin-top: 0px;
	height: 10px;
	margin-left: 18px;
}
.welcomeImage{
	box-shadow: 0px 5px 15px rgba(0,0,0,.0);
	border: 1px solid #999999;
}
#filter1{
	background: url(images/entities.png);
	background-position: top;
}
#filter2{
	background: url(images/as_of.png);
	background-position: top;
}
#filter3{
	background: url(images/currency.png);
	background-position: top;
}
#filter4{
	background: url(images/accounting.png);
	background-position: top;
}
#filter5{
	background: url(images/performance.png);
	background-position: top;
}